.Toolbar{
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3949ab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color: #ffffff;
    -webkit-box-shadow: 0px 8px 11px -3px rgba(126, 87, 194, 0.31);
  -moz-box-shadow: 0px 8px 11px -3px rgba(126, 87, 194, 0.31);
  box-shadow: 0px 8px 11px -3px rgba(126, 87, 194, 0.31);
}

.Toolbar nav {
    height: 100%;
}
