
  .InputWrapper{
      position: relative;
  }

  .InputField{
    background: rgba(250,250,250,0.1);
    border-style: none;
    outline: none;
    color: #ffffff !important;
    font-size: 14px;
    text-align: left;
    border-bottom: 0px solid #ffffff;
    padding-left: 45px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    width: 500px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-overflow: ellipsis;
  }
  
  .InputField:hover {
    background: rgba(250,250,250,0.3);
  }
  
  .InputField:focus {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  ::placeholder {
    color: rgba(250,250,250,0.8);
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: rgba(250,250,250,0.8);
  }
  
  ::-ms-input-placeholder {
    color: rgba(250,250,250,0.8);
  }

.SearchIcon{
    position: absolute;
    top: 9px;
    left: 10px;
    cursor: pointer;
}

.SearchIcon:hover{
    color: #f06292;
    transition: all 0.3s ease;
}


@media(max-width: 767px){
    .InputField{
        width: 300px;
    }
  }

  @media(max-width: 555px){
    .InputField{
        width: 100%;
    }
}