.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.NavigationItems li{
    margin: 0 10px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}


.NavButtons {
    color: #ffffff;
    transition: all 0.3s ease;
}

.NavButtons:hover {
    color: #f06292;
    transition: all 0.3s ease;
}

.Active{
    color: #f06292;
    transition: all 0.3s ease;
}


