.CatCard {
    background: #c5cae9;
    border-radius: 2px;
    height: 281px;
    width: 100%;
    transition: all 0.3s ease;
  }

  .CatCard:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s ease;
  }

  @media(max-width: 1199px){
    .CatCard {
        height: 236px;
      }
  }

  @media(max-width: 767px){
    .CatCard {
        height: 266px;
      }
  }