.CatImage {
    position: fixed;
    z-index: 500;
    width: 70%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 16px;
    left: 15%;
    top: 30%;
    padding: 0;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

@media (min-width: 600px) {
    .CatImage {
        width: 500px;
        left: calc(50% - 250px);
    }
}